extends users

block adminTabs  
  li.tab
    a(href="#users") Users
    
block postVideo  
  form.row
    h5.col.s10.offset-s1.center Create new video
    .input-field.col.s10.offset-s1.m8.l6.offset-m2.offset-l3
      input#title.validate.grey-text.text-lighten-3(name="title", type="text", v-model="newVideoTitle")
      label(for='title') Video title
    .input-field.col.s10.offset-s1.m8.l6.offset-m2.offset-l3
      input#url.validate.grey-text.text-lighten-3(name="url", type="text", v-model="newVideoCode")
      label(for='url') Url
    a.col.s10.offset-s1.m8.l6.offset-m2.offset-l3.waves-effect.waves-light.btn(v-on:click="sendNewVideo") Submit
  .row(v-if="errors.length")
    .error-message.col.s10.offset-s1.center.flow-text(v-for="error in errors") {{ error }}

block usersPage
  div#users.row
    h3.col.s12.center-align Users
    userlist-component.col.s12
    
block userJS
  script(src='./javascripts/admin.js')
