extends layout

block content
  div#band.row
    h3.col.s12.center-align Band
    ul.col.s12.m10.l8.offset-m1.offset-l2.collection
      li.collection-item.row.grey.darken-4.grey-text.text-lighten-3
        img.responsive-img.circle.col.s6(src="./images/bassist.jpg" alt="")
        .col.s6
          h4.name Vesku
          h5.role Bass
          .description Description text comes here
      li.collection-item.row.grey.darken-4.grey-text.text-lighten-3
        img.responsive-img.circle.col.s6(src="./images/drummer.jpg" alt="")
        .col.s6
          h4.name Ilu
          h5.role Drums
          .description Description text comes here
  div#videos.row
    h3.col.s12.center-align Videos
    ul.col.s12.m10.l8.offset-m1.offset-l2.collection(v-if='videos.length')
      video-component(
        v-for="(video, index) in videos",
        v-bind:key="index",
        v-bind:info="video",
        v-bind:index="index",
        v-on:delete-video="deleteVideo(index)")
    .col.s12.flow-text(v-if='!videos.length') No videos :(
    block postVideo
  div#game.row
    h3.col.s12.center-align Game
  block usersPage
  
block userJS
  script(src='./javascripts/visitor.js')
