doctype html
html
  head
    title= title
    meta(charset='utf-8')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')    
    // Google Icon Font
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    // Materialize CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    // CSS
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Aladin")
    link(rel='stylesheet', href='/stylesheets/style.css')
    // VUE production version, optimized for size and speed
    script(src='https://cdn.jsdelivr.net/npm/vue')
    // development version, includes helpful console warnings
    // script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')  
    // Axios
    script(src='https://unpkg.com/axios/dist/axios.min.js')
  body.grey.darken-4.grey-text.text-lighten-3
    header
      .navbar-fixed
        nav.nav-extended.red.darken-4
          .nav-wrapper
            a.brand-logo.center(href="#") Ketjuerektio
            a.sidenav-trigger(href="#" data-target="mobile-demo")
              i.material-icons menu
            ul#nav-mobile.right.hide-on-med-and-down
              li.valign-wrapper
                if user
                  div Logged in as #{user.local.username}
                  a(href="/logout") Log Out
                    i.material-icons.right smoking_rooms
                else
                  div Not logged in as a user
                  a(href="/login") Log In
                    i.material-icons.right person
          .nav-content
            ul.tabs.tabs-transparent
              li.tab
                a.active(href="#band") Band
              li.tab
                a(href="#videos") Videos
              li.tab.disabled
                a(href="#game") Game
              block adminTabs
      ul#mobile-demo.sidenav.red.darken-3
        li
          if user
            div.center-align Logged in as #{user.local.username}
            a.center-align(href="/logout") Log Out
              i.material-icons.right smoking_rooms
          else
            div.center-align Not logged in as a user
            a.center-align(href="/login") Log In
              i.material-icons.right person
      
    main#container      
      block content
    footer.page-footer.red.darken-4
      .footer-copyright.red.darken-4.center
        .center.center-align © 2018 Vesa Ylämäki
    // Materialize Javascript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
    // Javascript
    script(src='./javascripts/site.js')
    block userJS
    
