extends layout

block content
  h3.col.s12.center-align= title  
  .col.s12
    form(action="/signup" method="post")
      .row
        .input-field.col.s10.offset-s1.m8.l6.offset-m2.offset-l3
          input#username.validate.grey-text.text-lighten-3.flow-text(name="username", type="text")
          label(for='username') Username
        .input-field.col.s10.offset-s1.m8.l6.offset-m2.offset-l3
          input#password.validate.grey-text.text-lighten-3.flow-text(name="password", type="password")
          label(for='password') Password
        button.col.s10.offset-s1.m8.l6.offset-m2.offset-l3.waves-effect.waves-light.btn.flow-text(name="action", type="submit") Sign Up
  if message
    div.col.s12.center-align.flow-text= message
  p.col.s12.center.flow-text Already have an account? 
    a(href="/login") Log in
  p.col.s12.center.flow-text Or go 
    a(href="/") home  
