body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Aladin', cursive;
}

main {
  flex: 1 0 auto;
}

.navbar-fixed {
  min-height: 100px;
}

button {
  font-family: 'Aladin', cursive;
}

.collection {
  border-style: none;
}

.collection .collection-item {
  padding: 10px 10px;
}

.timestamp {
  font-size: 0.8rem;
}
